/* Global styles */

a{
    color: black;
    text-decoration: none;
  background-image: linear-gradient(bottom, rgb(212,210,205) 31%, rgb(171,170,169) 60%, rgb(148,146,148) 87%);
    background-image: -o-linear-gradient(bottom, rgb(212,210,205) 31%, rgb(171,170,169) 60%, rgb(148,146,148) 87%);
    background-image: -moz-linear-gradient(bottom, rgb(212,210,205) 31%, rgb(171,170,169) 60%, rgb(148,146,148) 87%);
    background-image: -webkit-linear-gradient(bottom, rgb(212,210,205) 31%, rgb(171,170,169) 60%, rgb(148,146,148) 87%);
    background-image: -ms-linear-gradient(bottom, rgb(212,210,205) 31%, rgb(171,170,169) 60%, rgb(148,146,148) 87%);
    background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.31, rgb(212,210,205)),
	color-stop(0.6, rgb(171,170,169)),
	color-stop(0.87, rgb(148,146,148)));
    padding: 3px 7px;
}

#store #notice {
        color: #000;
        border: 2px solid red;
        padding: 1em;
        margin-bottom: 2em;
        background-color: #f0f0f0;
        font: bold smaller sans-serif;
}


#store h1 {
        font:  150% sans-serif;
        border-bottom: 1px solid #CCCCCC;
}

#store .entry form, #store .entry form div {
        display: inline;

}

/* Styles for products/index */

#product_list table {
        border-collapse: collapse;
}

#product_list table tr td {
        padding: 5px;
        vertical-align: top;
}

#product_list .list_image {
  width:        80px;
  height:       92px;
  border: 1px solid #cccccc;
}

#product_list .list_description {
  width:        60%;
}

#product_list .list_description dl {
        margin: 0;
}

#product_list .list_description dt {
	color:        #244;
	font-weight:  bold;
	font-size:    larger;
}

#product_list .list_description dd {
        margin: 0;
}

#product_list .list_actions {
  font-size:    x-small;
  text-align:   right;
  padding-left: 1em;
}

#product_list a{
    color: black;
    text-decoration:none;
    padding: 3px;
    background-color: #cccccc;
    font-size:small;
    margin:3px;
}




#product_list .list_line_even {

  border-top: 1px solid #cccccc;
}

#product_list .list_line_odd {
 border-top: 1px solid #cccccc;
}

/* An entry in the store catalog */

#store  .entry {
  padding: 15px;
  width: 200px;
  height:260px;
  float: left;
  margin: 1em;
  border: 1px solid #ccc;
  text-align: center;
}

.hidden_info{
    margin:50px;
    z-index:200;
    min-height: 150px;
    width:220px;
    position:relative;
    top:-300px;
    left:150px;
    -moz-border-radius: 15px;

    text-align: left;
    padding: 15px;
    background-image: linear-gradient(bottom, rgb(242,242,237) 16%, rgb(207,207,207) 62%, rgb(188,189,183) 84%);
    background-image: -o-linear-gradient(bottom, rgb(242,242,237) 16%, rgb(207,207,207) 62%, rgb(188,189,183) 84%);
    background-image: -moz-linear-gradient(bottom, rgb(242,242,237) 16%, rgb(207,207,207) 62%, rgb(188,189,183) 84%);
    background-image: -webkit-linear-gradient(bottom, rgb(242,242,237) 16%, rgb(207,207,207) 62%, rgb(188,189,183) 84%);
    background-image: -ms-linear-gradient(bottom, rgb(242,242,237) 16%, rgb(207,207,207) 62%, rgb(188,189,183) 84%);

    background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.16, rgb(242,242,237)),
	color-stop(0.62, rgb(207,207,207)),
	color-stop(0.84, rgb(188,189,183))
);
}

#store  .title {
  font-size: 120%;
  font-family: sans-serif;

}

#store .entry img {

  height:150px;
  width: 115px;
  margin: 5px;
  margin-top: 0px;
  border: 1px solid #cccccc;

}


#store .entry h3 {
 margin-top: 5px;;
 margin-bottom: 2px;
 height: 30%;
}

#store .entry p {
 margin-top: 0.5em;
 margin-bottom: 0.8em;
}

#store .entry a{
    padding: 1px 7px;
    align:center;
}

#store .entry .price_line {
 clear: both;
 margin-bottom: 0.4em;
}

#store .entry .add_to_cart {
  position: relative;
}

#store .entry  .price {
  font-size:small;
  font-weight: bold;
  margin-left: 0.5em;

}


/* START:mainlayout */
/* Styles for main page */

#banner {
    height: 90px;

    padding-top: 25px;
    padding-bottom: 10px;
    border-bottom: 2px solid #CCCCCC;
    font: small-caps 40px/40px "Times New Roman", serif;
    text-align: center;
    background-image: linear-gradient(bottom, rgb(41,34,34) 23%, rgb(13,13,13) 61%, rgb(10,10,10) 82%);
    background-image: -o-linear-gradient(bottom, rgb(41,34,34) 23%, rgb(13,13,13) 61%, rgb(10,10,10) 82%);
    background-image: -moz-linear-gradient(bottom, rgb(41,34,34) 23%, rgb(13,13,13) 61%, rgb(10,10,10) 82%);
    background-image: -webkit-linear-gradient(bottom, rgb(41,34,34) 23%, rgb(13,13,13) 61%, rgb(10,10,10) 82%);
    background-image: -ms-linear-gradient(bottom, rgb(41,34,34) 23%, rgb(13,13,13) 61%, rgb(10,10,10) 82%);

    background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.23, rgb(41,34,34)),
	color-stop(0.61, rgb(13,13,13)),
	color-stop(0.82, rgb(10,10,10))
);


}

#banner img {
  float: left;
}

#columns {

}

#main {
  margin-left: 17em;
  padding: 15px 10px 20px 20px;
  border-left: 1px solid #CCCCCC;
}



#side {
  padding: 1em;

  width: 16em;
  float: left;
}

#side a {
  color: #bfb;
  font-size: small;
}
/* END:mainlayout */
.depot_form{
    padding-top: 20px;
}

.simple_form label {
  float: left;
  width: 100px;
  text-align: right;
  margin: 2px 10px;
}

.simple_form div.input {
  margin-bottom: 10px;
}

.simple_form div.boolean, .simple_form input[type='submit'] {
  margin-left: 60px;
  margin-bottom:20px;
}

.simple_form div.boolean label, .simple_form label.collection_radio {
  float: none;
  margin: 0;
}

.simple_form label.collection_radio {
  margin-right: 10px;
  margin-left: 2px;
}

.simple_form .error {
  clear: left;
  margin-left: 120px;
  font-size: 12px;
  color: #D00;
  display: block;
}

.simple_form .hint {
  clear: left;
  margin-left: 120px;
  font-size: 12px;
  color: #555;
  display: block;
  font-style: italic;
}

/* Styles for the cart in the main page */
#store .cart_title {
    font: 120% bold;
}

#store .item_price, #store .total_line {
    text-align: right;
}

#store .total_line .total_cell {
    font-weight: bold;
    border-top: 1px solid #cccccc;
}

.trash a{
    text-decoration: none;
}

#cart, #cart table {
font-size: small;
}

#cart td{
padding-top: 10px;
padding-bottom:10px;
}

#cart table {
border-top: 1px solid #cccccc;
border-bottom: 1px solid #cccccc;
margin-bottom: 10px;
}

.depot_form fieldset {
    background: #f0f0f0;

}
.depot_form legend {

    background-image: linear-gradient(bottom, rgb(212,210,205) 31%, rgb(171,170,169) 60%, rgb(148,146,148) 87%);
    background-image: -o-linear-gradient(bottom, rgb(212,210,205) 31%, rgb(171,170,169) 60%, rgb(148,146,148) 87%);
    background-image: -moz-linear-gradient(bottom, rgb(212,210,205) 31%, rgb(171,170,169) 60%, rgb(148,146,148) 87%);
    background-image: -webkit-linear-gradient(bottom, rgb(212,210,205) 31%, rgb(171,170,169) 60%, rgb(148,146,148) 87%);
    background-image: -ms-linear-gradient(bottom, rgb(212,210,205) 31%, rgb(171,170,169) 60%, rgb(148,146,148) 87%);
    background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.31, rgb(212,210,205)),
	color-stop(0.6, rgb(171,170,169)),
	color-stop(0.87, rgb(148,146,148))
);
font-family: sans-serif;
padding: 0.2em 1em;
}
.depot_form label {
width: 7em;
float: left;
text-align: right;
padding-top: 0.2em;
margin-right: 0.1em;
display: block;
}
.depot_form select, .depot_form textarea, .depot_form input {
margin-left: 0.5em;
}
.depot_form .submit {
margin-left: 4em;
}
.depot_form div {
margin: 0.5em 0;
}

body{
    background-color: #F0F0F0;
    width: 100%;


}

#top-bar{
    background-image: linear-gradient(bottom, rgb(212,210,205) 31%, rgb(171,170,169) 60%, rgb(148,146,148) 87%);
    background-image: -o-linear-gradient(bottom, rgb(212,210,205) 31%, rgb(171,170,169) 60%, rgb(148,146,148) 87%);
    background-image: -moz-linear-gradient(bottom, rgb(212,210,205) 31%, rgb(171,170,169) 60%, rgb(148,146,148) 87%);
    background-image: -webkit-linear-gradient(bottom, rgb(212,210,205) 31%, rgb(171,170,169) 60%, rgb(148,146,148) 87%);
    background-image: -ms-linear-gradient(bottom, rgb(212,210,205) 31%, rgb(171,170,169) 60%, rgb(148,146,148) 87%);
    background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.31, rgb(212,210,205)),
	color-stop(0.6, rgb(171,170,169)),
	color-stop(0.87, rgb(148,146,148))
);
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 30px;

    text-align: center;
    line-height: 2;
}

#top-bar a{
    text-decoration: none;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
    border-left: 1px;
    font-size: 13px;
    background: none;
}

#top-bar a:hover{
    color: white;
}

#wrapper{
    background: white;
    margin: 0 auto;
    width: 75%;
    z-index: 100;
    -moz-box-shadow: 0 0 10px 5px #888;
    -webkit-box-shadow: 0 0 10px 5px#888;
    box-shadow: 0 0 10px 5px #888;

}

.button_to{
    float: left;
    margin:10px;
    margin-top:0;
}

.search{

    line-height: 0.7em;
    padding: 20px;
    text-align: right;
}

.search .simple_form input[type='submit'] {
    margin:0px;
    margin-right: -20px;

}

.pagination{
    float: right;

}

.pagination a{
    background-color: white;
}


#new_product{
    float:left;
}
.order_list{
    margin-bottom: 20px;
    margin-right:10px;
    margin-top: 0px;
    width: 100%;
}

.order_list td{
    margin: 5px;
}


.order_list tr td, th{
    border: 1px solid #cccccc;
}

