= javascript_tag do
  var timevar
  $(document).ready(
  function(){
  $('.hidden_info').hide();
  });
  - @products.each do |f|
    $(document).ready(function(){

    $('#entry#{f.id}').hover(function() {
    clearInterval(timevar)
    timevar = setInterval(show_title, 1000);
    }, function(){
    clearInterval(timevar)
    $('#info#{f.id}').fadeOut('slow');
    });
    function show_title() {
    $('#info#{f.id}').fadeIn('slow');
    };
    });

